.header {
  width: 62.9rem;
  height: 100px;
  background-color: rgb(189, 188, 188);
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.search-dev {
  width: 55%;
  height: 50px;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-dev input {
  border-radius: 15px 0 0 15px;
  border: none;
  width: 92%;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  font-size: 100%;
  color:rgb(0, 0, 0);
}



#searchButton {
  display: flex;
  border-radius: 0 15px 15px 0;
  border: none;
  border-left: 1px solid black;
  background-color: white;
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-dev button:active {
  transform: scale(0.97);
}

.search-dev i {
  color: gray;
  font-size: 180%;
}

.account-img {
  width: 35%;
  height: 85%;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: transparent;
}

#adminName{
  font-size: 1rem;
  font-weight: 550;
  line-height: 7vh;
  position: relative;
  left: 2rem;
  max-width:60%;
  overflow: hidden;
  user-select: none;
}

#image {
  display: none;
}

#uploadBtn{
  position: absolute;
  left: 11rem;
  top: 3.5rem;
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 139, 139, 0.597);
  font-size: 1rem;
  font-weight: 600;
  color: white;
  letter-spacing: .1rem;
  display: none;
}
.img-label{
  width: 11vh;
  height: 10vh;
  border-radius: 50%;
  position: relative;
  top: 1vh;
  right: 0rem;
  /* display: flex;
  align-items: center; */
  overflow: hidden;
}





/* menu/section part */
.section-table {
  width: 100%;
  height: 400px;
  padding: 10px;
  background-color: rgb(169, 169, 237);
  position: relative;
  top: 15vh;
}

@import url(https://fonts.googleapis.com/css2?family=Lacquer&display=swap);
#no-thing {
  display: none;
  text-align: center;
  font-family: "Lacquer", display;
  position: relative;
  top: 20vh;
  color: rgb(68, 64, 64);
}

#usersTable{
  width: 80%;
  position: absolute;
  left: 2rem;
  display: none;
}